
.navbar {
  overflow: hidden;
  background-color: darkseagreen;
  position: fixed; 
  top: 0; 
  width: 100%; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  list-style: none;
}

img {
  display: flex;
  height: 100px;
  width: 100px;
}

nav {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: transparent;

}

.navLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 20%;
  
}

nav ul li {
  list-style: none;
}


 .thumbnail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  /* border: 10px black dotted; */
 }

 .items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


 }
 
 .thumbnail img{
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.itemLists {
  width: 100%; /* Set the width of the carousel */
  overflow: hidden; /* Hide overflowing items */
  position: relative; /* Position relative for absolute positioning of items */
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}





.thumbnail img{
  transform: scale(1.05);
  transition: 0.5s;
  cursor: pointer;
}


nav div li {
  list-style: none;
}

nav div li a {
  color: rgb(44, 80, 44);
  font-size: 20px;
  text-decoration: none;
}

nav div li a:hover {
  transform: scale(1.005);
  transition: 0.5s;
  color: black;
}

nav ul li a:hover {
  transform: scale(1.05);
  transition: 0.5s;
  color: black;
}

.footer{
  background-color: darkseagreen;
  color: rgb(44, 80, 44);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}